{%extends "base.html" %}

{%block title%}About{%endblock title%}

{%block content%}
<!-- BIO SECTION -->
	<div class="container-fluid d-flex align-items-center justify-content-center">
		<div class="card bg-dark text-white mt-5" style="max-width: 390px">
		  <img src="/static/images/portrait.jpg" class="card-img bio-pic" alt="bio-pic">
		  <div class="card-img-overlay bg-dark bio-summary" style="opacity:0.9">
		    <h5 class="card-title card-h">Trailer and Digital Editor</h5>
		        <p class="card-text" style="color: slategray;">8+ years of professional experience in film, series, & multi-media marketing.</p>
		        <p class="card-text"><small>Born and living in Los Angeles, I am an artist who seeks to explore the convergence of ideas, picture and sound. My specialization is in feature-film and series trailers, with experience in graphic creation, workflow managements, high-volume digital campaigns and music curation. Outside of the bay, I live to practice Brazilian Jiu-Jitsu, mentor and learn from others, give back to the community and spend time with loved ones.</small></p>
		        <br>
		        <div class="row g-0">
			        <p class="card-text card-contact col-3">Contact Me</p>
			        <p class="card-text text-end col-9">derek.henriquez99@gmail.com
					<br>713 319 7684</p>
				</div>
		  </div>
		</div>
	</div>
{%endblock content %}